.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointingArrow {
  font-size: 40px;
}

.title {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  align-self: center;
  flex: 1;

}

.input {
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  width: 150px;
}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {

}
